<!DOCTYPE html>
<html>
<head>
	<title>Animation Generator</title>
	<link rel="shortcut icon" href="favicon.ico" />
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body ng-app="myApp" ng-controller="myCtrl">
	just test<br>
<input type="text" ng-model="name">
<br>{{name}}
</body>
</html>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/angular.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/variables.js"></script>
<script type="text/javascript" src="js/main.js"></script>